<span style="font-size:100%">

수업은 모두 열심히 들으셨나요?

간혹 강의에서 언급되지 않은 내용이 문제로 나올 수 있습니다.<br>
그럴땐 강의 내용 외 문제는 구글링을 통해 해결해주세요<br></span>
<span style="font-size:80%">
(구글링 또한 개발자가 갖쳐야할 역량 중에 하나랍니다 😊)
</span>

---

### Chapter09 : `Python의 입력과 출력 방식에 대해 알아보고 문제를 해결해보자`

<span style="font-size:80%">[문제1]<br><br></span>
아래 코드의 실행 결과로 올바른 것을 골라주세요<br>

print(' * ', ' * ', ' * ', ' * ', ' * ', ' * ', sep='x')

```
1. x*x*x*x*x*x*
2. ******
3. ***x***
4. *x*x*x*x*x*
```

<span style="color:red">답변</span>

4

----

<span style="font-size:80%">[문제2]<br><br></span>
두 개의 값을 입력 받아 실수로 x와 y 변수에 저장하는 코드를 골라 주세요


1. x, y = input('실수를 입력하세요: ')
2. x, y = input('실수를 입력하세요: ').split()
3. x = input('실수를 입력하세요'); y = input('실수를 입력하세요')
4. x, y = map(float, input('실수를 입력하세요: ').split())

<span style="color:red">답변</span>

4

----

<span style="font-size:80%">[문제3]<br><br></span>

아래와 같이 주어졌을때 실행 결과와 동일하게 출력되기 위해 1)과 2) 들어갈 코드를 작성해주세요

```
month = 12
day = 25
hour = 12
minute = 30

print(month, day, 1)________)
print(hour, minute, 2)_______)

```

실행 결과 : 1) 12.25,   2) 12:30

In [2]:
month = 12
day = 25
hour = 12
minute = 30

print(month, day, sep='.')

12.25

In [8]:
month = 12
day = 25
hour = 12
minute = 30

print(month, day, sep='.', end=' ')

12.25

In [9]:
month = 12
day = 25
hour = 12
minute = 30

print(hour, minute, sep=':')

12:30

<span style="color:red">답변</span>

1 : sep='.', end=' ‘ , 2 : sep=':’

----

### Chapter10 : `Python의 시퀀스 자료형 중 하나인 list에 대해 알아보고 문제를 해결해보자`

<span style="font-size:80%">[문제1]<br><br></span>
아래 리스트에 들어있는 값의 평균을 구하는 코드를 작성해주세요

x = [34, 22, 10, 3, 55, 66]

In [12]:
x = [34, 22, 10, 3, 55, 66]

average = sum(x) / len(x)
print("평균: ", average)

평균:  31.666666666666668

<span style="color:red">답변</span>

x = [34, 22, 10, 3, 55, 66]

average = sum(x) / len(x)

print("평균: ", average)

----

<span style="font-size:80%">[문제2]<br><br></span>
리스트 안에 있는 데이터를 오름차순으로 정렬하는 메소드를 모두 골라주세요

1. upper()
2. low()
3. sort()
4. hight()
5. sorted()

<span style="color:red">답변</span>

3, 5

----

<span style="font-size:80%">[문제3]<br><br></span>
리스트 x가 있을 때 x.append(7)과 결과가 동일한 것을 모두 골라주세요


1. x[-1:] = [7]
2. x.insert(len(x), 7)
3. x[0:] = 7
4. x[len(x):] = 7
5. x[len(x):] = [7]

<span style="color:red">답변</span>

2,5

----

<span style="font-size:80%">[문제4]<br><br></span>
리스트의 모든 요소를 삭제하는 메서드를 골라주세요

1. remove
2. clean
3. pop
4. clear
5. reverse

<span style="color:red">답변</span>

4

----

<span style="font-size:80%">[문제5]<br><br></span>
[3.1, 6.7, 4.4]가 들어있는 리스트의 값을 문자열로 변환 후 다시 리스트로 만들어 변수 x에 담는 코드를 골라주세요

1. x = list(str, [3.1, 6.7, 4.4])
2. x = map(str, [3.1, 6.7, 4.4])
3. x = str([3.1, 6.7, 4.4])
4. x = list(map(str, [3.1, 6.7, 4.4]))
5. x = map(int, [3.1, 6.7, 4.4])

<span style="color:red">답변</span>

4

### Chapter11 : `Python의 시퀀스 자료형 중 하나인 tuple에 대해 알아보고 문제를 해결해보자`

<span style="font-size:80%">[문제1]<br><br></span>
tuple과 list의 차이점으로 올바른 것을 모두 골라주세요

1. list만 인덱싱이 가능해 원하는 값을 인덱스로 추출할 수 있다.
2. tuple은 불변이고 list는 가변이다.
3. tuple은 소괄호( () )를 사용하고 리스트는 대괄호( [ ] )를 사용한다.
4. 튜플은 입출력이 자주 발행하는 경우 사용하고 리스트는 입출력이 자주 발생하지 않는 상황에 사용한다

<span style="color:red">답변</span>

2, 3

----

<span style="font-size:80%">[문제2]<br><br></span>
tuple a에 사용할 수 없는 코드를 골라주세요<br>
a = (20, 10, 15)

1. print(a[:])
2. a.pop()
3. sum(a)
4. a.count(20)

<span style="color:red">답변</span>

2

----

<span style="font-size:80%">[문제3]<br><br></span>
아래 코드를 실행시켰을 때 발생하는 상황과 원인을 간략히 설명해주세요

```
바구니 = ( "상추", "깻잎", "삼겹살")
바구니[1] = "고사리"
```

<span style="color:red">답변</span>

바구니가 튜플이므로 한번 생성된 튜플의 요소는 변경할 수 없다.
튜플의 요소를 변경하고 싶다면, 튜플을 리스트로 변환한 후 변경하고 다시 튜플로 변환할 수 있다. 문제 해결을 위해 아래와 같이 코드를 작성할 수 있다.

바구니 = ( "상추", "깻잎", "삼겹살")

바구니 = list(바구니)

바구니[1] = "고사리"

바구니 = tuple(바구니)

### Chapter12 : `Python의 시퀀스 자료형 중 하나인 dict에 대해 알아보고 문제를 해결해보자`

<span style="font-size:80%">[문제1]<br><br></span>
딕셔너리 x에서 키에 해당하는 값을 모두 삭제하는 방법으로 옳은 것을 모두 골라주세요

x = {'banana':3000, 'apple':1500, 'orange':2000}

1. x.pop('apple')
2. x.remove('python')
3. del x['orange']
4. x.popitem()

In [21]:
x = {'banana':3000, 'apple':1500, 'orange':2000}

x.pop('apple')

1500

In [14]:
x = {'banana':3000, 'apple':1500, 'orange':2000}

x.remove('python')

AttributeError: 'dict' object has no attribute 'remove'

In [22]:
x = {'banana':3000, 'apple':1500, 'orange':2000}

del x['orange']

In [23]:
x = {'banana':3000, 'apple':1500, 'orange':2000}

x.popitem()

('orange', 2000)

<span style="color:red">답변</span>

1, 3

In [ ]:
# x.popitem() : 맨 마지막 키-값 쌍을 삭제

----

<span style="font-size:80%">[문제2]<br><br></span>
딕셔너리의 메서드에 대한 설명으로 올바르지 않은 것을 모두 고르세요<br>

1. setdefault는 키만 지정하면 값은 0으로 저장한다.
2. update는 딕셔너리에서 키의 value 값을 수정한다.
3. keys는 딕셔너리의 키-값 쌍을 모두 가져온다.
4. clear는 딕셔너리의 모든 키-값 쌍을 삭제한다.
5. setdefault에 키와 값을 넣어 실행하면 기존 딕셔너리에 없는 키값일 경우 키-값 쌍을 추가한다.

<span style="color:red">답변</span>

1, 3

setdefault(): 딕셔너리에서 주어진 키에 대한 값을 반환합니다. 만약 키가 딕셔너리에 없다면, 새로운 키와 기본 값을 딕셔너리에 추가합니다. 예를 들어, dict.setdefault('key', 'default')는 'key'가 딕셔너리에 있으면 그에 해당하는 값을, 없다면 'default'를 반환합니다.

keys(): 딕셔너리의 모든 키를 반환합니다. 이때 반환되는 값은 딕셔너리의 키를 담은 특별한 객체이며, 이를 리스트로 변환하려면 list(dict.keys())와 같이 사용합니다.

----

<span style="font-size:80%">[문제3]<br><br></span>
평균 점수를 구하는 코드를 result 변수에 작성해주세요

```
ozkim = { "국어" : 90, "'수학" : 80, "과학" : 82, "영어" : 72 }
result =
print(result)
```

In [24]:
ozkim = { "국어" : 90, "'수학" : 80, "과학" : 82, "영어" : 72 }
result = sum(ozkim.values()) / len(ozkim)
print(result)

81.0

<span style="color:red">답변</span>

sum(ozkim.values()) / len(ozkim)

----

<span style="font-size:80%">[문제4]<br><br></span>
상자 딕셔너리에 아래 데이터를 추가하는 코드를 작성해 주세요

```
상자 = {"아디다스": ["신발", "2개"],
            "나이키": ["모자", "5개"],
            "뉴발란스": ["가방", "1개"]}
````

입력할 데이터 : 칼하트 / 후드티 / 2벌

In [28]:
상자 = {
    "아디다스": ["신발", "2개"],
    "나이키": ["모자", "5개"],
    "뉴발란스": ["가방", "1개"]
}

상자["칼하트"] = ["후드티", "2벌"]

print(상자)

{'아디다스': ['신발', '2개'], '나이키': ['모자', '5개'], '뉴발란스': ['가방', '1개'], '칼하트': ['후드티', '2벌']}

<span style="color:red">답변</span>

상자[’칼하트’] = [’후드티’, ‘2벌’]

----

<span style="font-size:80%">[문제5]<br><br></span>
아래 keys 변수와 vals 변수에 들어있는 값을 이용해 agency_dict라는 딕셔너리를 만드는 코드를 작성해주세요

```
keys = ["뉴진스", "아이브", "에스파"]
vals = ["하이브" , "스타쉽", "SM"]
```

<span style="color:red">답변</span>

In [29]:
keys = ["뉴진스", "아이브", "에스파"]
vals = ["하이브" , "스타쉽", "SM"]

agency_dict = dict(zip(keys, vals))
print(agency_dict)

{'뉴진스': '하이브', '아이브': '스타쉽', '에스파': 'SM'}

In [30]:
keys = ["뉴진스", "아이브", "에스파"]
vals = ["하이브" , "스타쉽", "SM"]

agency_dict = {}
for i in range(len(keys)):
      agency_dict[keys[i]] = vals[i]

      print(agency_dict)

{'뉴진스': '하이브'}
{'뉴진스': '하이브', '아이브': '스타쉽'}
{'뉴진스': '하이브', '아이브': '스타쉽', '에스파': 'SM'}

### Chapter13 : `Python의 시퀀스 자료형 중 하나인 set에 대해 알아보고 문제를 해결해보자`

<span style="font-size:80%">[문제1]<br><br></span>
세트 money의 결과로 올바른 것을 골라주세요

money = { '만원', '만원', '오만원', '백원', '오만원', '십원' }

1. { '백원', '십원' }
2. {'만원', '백원', '십원', '오만원'}
3. {'만원', '백원', '십원'}
4. {'만원',  '오만원'}

In [33]:
money = { '만원', '만원', '오만원', '백원', '오만원', '십원' }
print(money)

{'십원', '만원', '백원', '오만원'}

<span style="color:red">답변</span>

2

----

<span style="font-size:80%">[문제2]<br><br></span>
세트 x = {3, 6, 9} 그리고 y = {1, 2, 3}가 있을 때, 집합 연산의 결과로 잘못된 것을 모두 고르세요

1. set.union(x, y)는 {1, 2, 3, 6, 9}
2. x ^ y는 {1, 3, 6}
3. x - y는 {6, 9}
4. x & y는 { 3 }
5. set.difference(y, x)는 { 2 }

In [37]:
x = {3, 6, 9}
y = {1, 2, 3}

set.union(x, y)

{1, 2, 3, 6, 9}

In [38]:
x = {3, 6, 9}
y = {1, 2, 3}

x ^ y

{1, 2, 6, 9}

In [39]:
x = {3, 6, 9}
y = {1, 2, 3}

x - y

{6, 9}

In [40]:
x = {3, 6, 9}
y = {1, 2, 3}

x & y

{3}

In [41]:
x = {3, 6, 9}
y = {1, 2, 3}

set.difference(y, x)

{1, 2}

<span style="color:red">답변</span>

2, 5

----

<span style="font-size:80%">[문제3]<br><br></span>
과일 바구니 안에 두리안이 있는지 확인하기 위한 코드를 작성해 주세요

과일_바구니 = {'사과', '포도', '샤인머스켓', '두리안'}

In [42]:
과일_바구니 = {'사과', '포도', '샤인머스켓', '두리안'}

'두리안' in 과일_바구니

True

<span style="color:red">답변</span>

'두리안' in 과일_바구니

----

<span style="font-size:80%">[문제4]<br><br></span>
메서드와 연산자의 기능이 잘못 짝지어진 것을 골라주세요

1. set.intersection은 &와 같다.
2. set.update는 |=와 같다.
3. symmetric_difference_update는 -=와 같다.
4. issuperset은 >와 같다.
5. set.union은 |와 같다.

<span style="color:red">답변</span>

3

In [43]:
# symmetric_difference_update' 메서드는 '^=' 연산자와 동일한 기능을 한다.
# difference_update는 -=와 같다.
# x.symmetric_difference_update(y) 메서드는  대칭차집합 (x ^ y) 과 같다.

----

<span style="font-size:80%">[문제5]<br><br></span>
세트를 만드는 방법으로 올바르지 않은 것을 골라주세요

1. x = {1, 2, 3, 4, 5}
2. x = { }
3. x = set('hello')
4. x  = set(range(10))
5. x = set()

<span style="color:red">답변</span>

2

In [ ]:
# x = { }는 빈 딕셔너리를 생성한다.